doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body

block content

  ul
    each val in data
      li
        div
          p= "Username: " + val.username
          p= "Email: " + val.email
          p= "Password: " + val.password
          p= "Record created on: " + val.timeCreated
          form(action="/all" method="POST")
            input(type="submit" value="Delete")

