<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
    <div class="container">

        <main>
            {{#if currentCube}}
            <h1>{{currentCube.name}}</h1>
            <img class="cube" src={{currentCube.imageUrl}}>
            <div class="details">
                <p><span>Description:</span>{{currentCube.description}}</p>
                <p><span>Difficulty level:</span>{{currentCube.difficultyLevel}}</p>
                
                 <a class="btn" href="/attach/accessory/{{currentCube._id}}">Attach Accessory</a>
                <a class="btn" href="/">Back</a>
            </div>
            <h2>Accessories</h2>
            <div class="accessories">
                {{!-- accessories here --}}
                {{!-- {{#if accessory}} --}}
                <div class="accessory">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61J8UP8pySL._SX425_.jpg"
                        alt="stickerName">
                    <h3>Accessory Name</h3>
                    <p>Accessory Description</p>
                </div>
                {{!-- {{else}} --}}
                <h3 class="italic">This cube has no accessories yet...</h3>
                {{!-- accessory ends here --}}
            </div>
            {{else}}
             <h1>Error (some error occurs...)</h1>
             {{/if}}
        </main>
    </div>

</body>

</html>