<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
    <div class="container">

        <main>
            {{#if currentCube}}
            <h1>{{currentCube.name}}</h1>
            <img class="cube" src={{currentCube.imageUrl}}>
            <div class="details">
                <p><span>Description:</span>{{currentCube.description}}</p>
                <p><span>Difficulty level:</span>{{currentCube.difficultyLevel}}</p>

                <a class="btn" href="/attach/accessory/{{currentCube._id}}">Attach Accessory</a>
                {{#if currentCube.isCreator}}
                <a class="btn" href="/edit/{{currentCube._id}}">Edit </a>
                <a class="btn" href="/delete/{{currentCube._id}}">Delete</a>
                {{/if}}
                <a class="btn" href="/">Back</a>
            </div>
            <h2>Accessories</h2>
            <div class="accessories">

                {{#each currentCube.accessories}}

                <div class="accessory">
                    <img src="{{imageUrl}}" alt="stickerName">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </div>
                {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>
                {{/each}}

            </div>
            {{else}}
            <h1>Error (some error occurs...)</h1>
            {{/if}}
        </main>
    </div>

</body>

</html>